*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: 2rem auto;
    width: 20em;
    display: flex;
    justify-content: center;
    background-color: brown;
    outline: 2px solid black;
    border-radius: 1em;
}


.shopping-list{
    padding:0px;
    list-style-type: none;
}

h1{
    cursor: pointer;
    margin-bottom: 1em;
}

.col{
    border: 5px groove rgb(223, 125, 33);
    border-radius: 1em;
    margin: 1.2em;
    background-color: rgb(223, 125, 33);
    width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-class{
    font-style: italic;
    text-align: center;
    color: rgb(210, 166, 255);
    padding: .3em 0em;
    border-bottom: 1px dashed black;
    font-weight:bold;
    font-size: 30px;
}


.list-class:hover{
    cursor: pointer;
    color: white;
    animation: shakeX;
    margin: 0 0.5rem;
    animation-duration: 3s;
    
}